.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes fadeOut {
  from { opacity:1; }
  to { opacity:0; }
}

.animate {
  animation: fadeIn .5s forwards;
}

@keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}

body {
  background-color: #2b2b2b;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg);
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  overflow: hidden;
  position: relative;

}

@keyframes twinkle {
  from { opacity:0.5; }
  to { opacity:1; }
}


.stars {
  position: absolute;
  top: -100px;
}

.star {
  position: absolute;
  width:10px;
  height:auto;
  border-radius :10px; 
  box-shadow :0px -25px -30px rgba(255 ,255 ,255 ,0.7) ; 
  animation :twinkle ease-out infinite ;
  animation-duration :3s ;  
  animation-timing-function :ease-in-out ;
  margin-bottom :-60px ;
  margin-top :-20px ;
  margin-left :-30% ; 
  z-index:-10000;    
}

.star:nth-child(1) {   
  margin-left:-8%;      
  margin-top :-20%;     
  animation-delay:.5s   ;      
  z-index:-10000;     
  box-shadow :0 -15px -35 rgba(255 ,255 ,255 ,.6);       
}  

.star:nth-child(2) {   
  margin-left:-16%;      
  margin-top :-12%;     
  animation-delay:.7s   ;      
  z-index:-10000;     
  box-shadow :0 -15px -35 rgba(255 ,255 ,255 ,.6);       
}  

.star:nth-child(3) {   
  margin-left:-24%;      
  margin-top :-22%;     
  animation-delay:.9s   ;      
  z-index:-10000;     
  box-shadow :0 -15px -35 rgba(255 ,255 ,255 ,.6);       
}  


.button-container {
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  background-color: transparent; /* Make the background transparent */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
}

.button-container button:hover {
  box-shadow: inset -10px -10px -15px rgba(255,255,255,0.7), 
       inset -20px -20px -30px rgba(0,0,0,0.2),
       inset -30px -30px -40px rgba(255,255,255,0.3); /* Add a glow effect on hover */
}

/* Add a white border to the buttons */
.button-container button {
  border: 2px solid #fff; /* Change #fff to any other color you want for the border */
}

#yes-btn {
  background-color: #2b2b2b;
  color: #fff;
}

#no-btn {
  background-color: #2b2b2b;
  color: #fff;
}

.glow {
  animation: glow ease-out infinite;
}

@keyframes glow {
 from{box-shadow:none;}
 to{box-shadow:-10rem-15rem5rem white,
      inset-.8rem-.6rem5rem white;}
}

.glow:hover {
 animation-direction:normal ;
 box-shadow :inset -50px -50px-60-70 rgba(245 ,244 ,240 ,.3);
}
